.section {
    margin-top: 3rem;
}

.row {
    display: flex;
    gap: var(--space-5);
    align-items: center;
    border: 1px solid var(--primary);
    background: var(--muted);
    padding: var(--space-5);
}

.commitCol {
    flex-shrink: 0;
    padding-top: var(--space-1);
}

@media (max-width: 1023px) {
    .row {
        flex-direction: column;
    }
    .commitCol {
        width: 100%;
        overflow-x: auto;
    }
}
